.center{
    align: center;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
}
  
.grid div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: brown;   
    border: 5px solid tan;
    box-sizing: border-box;
}

.wall {
    background-color:  lightseagreen;
}

.power-pellet {
    background-color: rgba(215, 218, 32, 0.609);
    border-radius: 10px;
}
.pac-man {
    background-color: blue;
    border-radius: 10px;
}

.blinky {
    background-color: pink;
    border: 0px;
}

.pinky {
    background-color: red;
    border: 0px;
}

.inky{
    background-color: cyan;
    border: 0px;
}

.clyde{
    background-color: orange;
    border: 0px;
}

.scared-ghost {
    background-color: blue;
    border: 0px;
}











